# Cache and logs (Symfony2)
/api-command/app/cache/*
/api-command/app/logs/*
!api-command/app/cache/.gitkeep
!api-command/app/logs/.gitkeep
/api-query/app/cache/*
/api-query/app/logs/*
!api-query/app/cache/.gitkeep
!api-query/app/logs/.gitkeep

# Email spool folder
/api-command/app/spool/*
/api-query/app/spool/*

# Cache, session files and logs (Symfony3)
/api-command/var/cache/*
/api-command/var/logs/*
/api-command/var/sessions/*
!api-command/var/cache/.gitkeep
!api-command/var/logs/.gitkeep
!api-command/var/sessions/.gitkeep
/api-query/var/cache/*
/api-query/var/logs/*
/api-query/var/sessions/*
!api-query/var/cache/.gitkeep
!api-query/var/logs/.gitkeep
!api-query/var/sessions/.gitkeep

# Parameters
/api-command/app/config/parameters.yml
/api-command/app/config/parameters.ini
/api-query/app/config/parameters.yml
/api-query/app/config/parameters.ini

# Managed by Composer
/api-command/app/bootstrap.php.cache
/api-command/var/bootstrap.php.cache
/api-command/bin/*
!api-command/bin/console
!api-command/bin/symfony_requirements
/api-command/vendor/
/api-query/app/bootstrap.php.cache
/api-query/var/bootstrap.php.cache
/api-query/bin/*
!api-query/bin/console
!api-query/bin/symfony_requirements
/api-query/vendor/

# Assets and user uploads
/api-command/web/bundles/
/api-command/web/uploads/
/api-query/web/bundles/
/api-query/web/uploads/

# PHPUnit
/api-command/app/phpunit.xml
/api-command/phpunit.xml
/api-query/app/phpunit.xml
/api-query/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

# Docker
docker-compose.yml

# Editors
.vscode
