version: "2"

services:
    api:
        container_name: api
        # build: docker/php/Dockerfile
        image: gamifier/api:v0.9
        volumes:
            - ./api:/var/www
            - ./api/cache:/var/www/cache
        ports:
            - "9000:9000"

    redis:
        container_name: redis
        image: "redis:alpine"

    nginx:
        container_name: nginx
        # build: "docker/nginx/Dockerfile"
        image: gamifier/nginx:v0.9
        ports: 
            - "80:80"
        networks: 
            default:
                aliases: 
                    - "dev.api.gamifier.fr"
                    - "localhost"
        volumes_from:
            - "api"
        # depends_on: 
            # - "api"

        