version: "2"

services:
    api-command:
        container_name: api-command
        image: gamiphier/php-api-command:v1.0
        volumes:
            - ./api-command:/var/www
            - ./api-command/cache:/var/www/cache
        depends_on:
            - rabbitmq

    api-query:
        container_name: api-query
        image: gamiphier/php-api-query:v1.0
        volumes:
            - ./api-query:/var/www
            - ./api-query/cache:/var/www/cache
        depends_on:
            - rabbitmq

    redis:
        container_name: redis
        image: "redis:alpine"

    mongo:
        container_name: mongo
        image: "mongo:4"
 
    nginx:
        container_name: nginx
        image: gamiphier/nginx:v1.0
        ports: 
            - "80:80"
        networks: 
            default:
                aliases: 
                    - "dev.api-command.gamiphier.fr"
                    - "dev.api-query.gamiphier.fr"
                    - "localhost"
        volumes_from:
            - "api-command"
            - "api-query"

    rabbitmq:
        container_name: rabbitmq
        image: rabbitmq:3.7.8-management
        ports:
            - "15672:15672"
            - "5672:5672"
